{
  "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"approved\":{\"type\":\"boolean\",\"output\":true},\"amount\":{\"type\":\"number\",\"input\":true},\"requestor\":{\"type\":\"string\",\"input\":true}}}",
  "resources": {
    "styles": {},
    "scripts": {}
  }
}